p {
  color: black;
}

.product-description {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: auto;
  max-width: 600px;
  margin-bottom: 10%;
}

.product-image {
  max-width: 60%;
  height: 70%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.product-name {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.product-description-text {
  margin-bottom: 15px;
  color: #555;
}

.product-price {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 15px;
  color: #333;
}

.add-to-cart-btn {
  background-color: yellow;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer; 
  float: left;
}

.add-to-cart-btn:hover {
    background-color: #f5b200!important;
}

.back-to-menu-btn {
  background-color: yellow;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
  float: right;
}

.back-to-menu-btn:hover {
    background-color: #f5b200!important;
}

label, input {
  color: black;
}

#customize-pizza {
  width: 100%;
  background-color: yellow;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
}

#customize-pizza:hover {
  background-color: #f5b200!important;
}

a {
  opacity: 1;
}